#table-project-detail-attributes td {
    border-width: 0px;
    border-style: none;
    border-radius: 0px 0px 0px 0px;
    border-top: solid 1px aliceblue;
}

#table-project-detail-attributes th {
    border-width: 0px;
    border-radius: 0px 0px 0px 0px;
    border-top: solid 1px aliceblue;
}