.searchTextInputs {
    color: aliceblue;
    background-color: #161D34;
    text-indent: 1em;
    border-radius: 25px;
    width: 99.5%;
    height: 2em;
    margin-bottom: 1em;
    border: solid 1px #000;
    border-style: none solid solid none;
}